---
layout: page
---

<!-- <p>Comming soon!</p> -->

<!-- <span class="time">Sunday, October 20, 2019</span>
<p>Location: Ballroom A</p>
 -->
<div class="talk">
     <span class="time">8:00-9:30</span><div class="ttitle">Session 1: Keynote and Three Papers</div>
</div>


{% include invited_talk.html time="8:00-8:45" key="finale" %}


<div class="talk">
     <span class="time">8:45-9:30</span><div class="ttitle">Paper Session I</div>
     {% include paper.html time="" key="1" %}
     {% include paper.html time="" key="2" %}
     {% include paper.html time="" key="3" %}
</div>


<div class="talk">
     <span class="time">9:30-10:00</span><div class="ttitle">Break</div>
</div>


<div class="talk">
     <span class="time">10:00-11:30</span><div class="ttitle">Session 2: Keynote and Three Papers</div>
</div>


{% include invited_talk.html time="10:00-10:45" key="hullman" %}


<div class="talk">
     <span class="time">2:20-2:50</span><div class="ttitle">Paper Sesssion II</div>
     {% include paper.html time="" key="4" %}
     {% include paper.html time="" key="5" %}
     {% include paper.html time="" key="6" %}
</div>

